body {
    background-color: rgb(131, 184, 184);
    margin: 10%;
    }

    main{
        width: 70%;
        background-color: blanchedalmond;
        margin: auto;
        text-align: center;
        padding: 2%;
    }

   
    